django-datatap
django-dockit==0.0.13
django-classy-tags

mimeparse
django-hyperadmin==0.10.0
-e git+git://github.com/webcube/django-hyperadmin-dockitresource.git#egg=django-hyperadmin-dockitresource
-e git+git://github.com/webcube/django-hyperadmin-client.git#egg=django-hyperadmin-client
