{% extends "admin/fragment_change_form.html" %}
{% load i18n %}

{% block extrahead %}
{{block.super}}
<script type="text/javascript">
<!--
(function($) {
    $(document).ready(function() {
        $('#id_view_class').change(function() {
            var $this = $(this)
            var form = $('#view_class_'+$this.val()).clone().attr('id', 'id_view_config');
            form.find(':input').each(function() {
                var a_name = $(this).attr('name');
                a_name = 'view_config-' + a_name
                $(this).attr('name', a_name);
            });
            if (form.length) {
                $('#id_view_config').replaceWith(form);
            }
        });
    });
})(django.jQuery);
-->
</script>
{% endblock %}

{% block content %}

<div id="view_class"" style="display:none">
{% for key, form in adminform.form.view_config_forms.iteritems %}
<table id="view_class_{{key}}">{{form.as_table}}</table>
{% endfor %}
</div>
{{block.super}}
{% endblock %}
